.cards {
	display: grid;
	grid-template-columns: repeat(3, 282px);
	gap: 20px 17px;
	margin: 0 auto;
	justify-content: center;
}

@media screen and (max-width: 980px) {
	.cards {
		grid-template-columns: repeat(2, 282px);
	}
}

@media screen and (max-width: 767px) {
	.cards {
		grid-template-columns: repeat(1, 282px);
		gap: 20px;
	}
}