.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 74px 0 0;
}

@media screen and (max-width: 980px) {
  .footer__copyright {
    max-width: 580px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
