.profile__add-button {
  width: 150px;
	height: 50px;
  margin: auto 0 auto auto;
  background-image: url(./../../../images/AddButton.svg);
	background-color: transparent;
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
	transition: opacity .5s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
	.profile__add-button {
		width: 100%;
		max-width: 282px;
		margin-top: 36px;
	}
}
