.profile__description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 16px 0 0;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 980px) {
  .profile__description {
    max-width: 230px;
  }
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    align-self: center;
    max-width: 210px;
  }
}
