.card__like {
  width: 22px;
  height: 19px;
  background: center no-repeat url(./../../../images/union.svg);
  background-color: transparent;
  background-size: 22px 19px;
  transition: opacity .5s ease;
  border: none;
  align-self: center;
  margin-right: 20px;
}

.card__like:hover {
  opacity: .5;
}

.card__like_active {
  background: center no-repeat url(./../../../images/unionactive.svg);
  opacity: 1;
}
